@import url(pokemon.css);
@import url(pokemon-selected.css);
@import url(header.css);
@import url(statistics.css);

.containerPokedex {
  block-size: 34rem;
  inline-size: 100%;
  max-inline-size: 24rem;
  outline: none;
  border-start-start-radius: 2rem;
  border-end-start-radius: 2rem;
  border-end-end-radius: .5rem;
  border-start-end-radius: 1rem;
  background: var(--primary);
  position: relative;
  perspective: 1000px;
  border-inline-start: 10px solid var(--primary20);
  border-block-end: 5px solid var(--primary20);
}

.containerPokedex:is(:hover, :focus, :focus-within) .fontFace {
  transform: rotateY(180deg);
}

.containerPokedex:is(:hover, :focus, :focus-within, .is-open) .backFace {
  transform: rotateY(0deg);
}