.fontFace {
  inline-size: inherit;
  block-size: 32.8rem;
  background: var(--primary);
  position: absolute;
  inset-block-end: 0;
  transform-origin: right center;
  backface-visibility: hidden;
  border-end-start-radius: 2rem;
  transition: 1s transform;
  clip-path: polygon(/**/
  100% 0.4%, 68% 0.4%, 66% 0.7%, 64% 1.5%, 63% 2.2%, 62% 3%, /**/
  49% 12.5%, 48% 12.8%, 47% 13%, 46% 13.2%, /**/
  0 13.2%, 0 100%, 100% 100%);
}

.backFace {
  border-inline-start: 1px solid black;
  inline-size: inherit;
  block-size: 32.8rem;
  background: var(--primary);
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 100%;
  transform-origin: left center;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  border-end-end-radius: 2rem;
  transition: 1s transform;
  clip-path: polygon(/**/
  0 0, 32% 0.4%, /**/
  34% 0.7%, 36% 1.5%, 37% 2.2%, 38% 3%, /**/
  51% 12.5%, 52% 12.8%, 53% 13%, 54% 13.2%, /**/
  100% 13.2%, 100% 100%, 0 100%);
}

section {
  block-size: 31rem;
  inline-size: 96%;
  background: var(--primary);
  position: relative;
  inset-inline-start: .4rem;
  inset-block-start: 1rem;
  clip-path: polygon(/**/
  0 0, 32% 0.4%, /**/
  34% 0.7%, 36% 1.5%, 37% 2.2%, 38% 3%, /**/
  51% 12.5%, 52% 12.8%, 53% 13%, 54% 13.2%, /**/
  100% 13.2%, 100% 100%, 0 100%);
  border-end-end-radius: 2rem;
  border-inline-start: 4px solid var(--primary20);
  border-block-end: 4px solid var(--primary20);
}

section::before {
  content: " ";
  inline-size: 100%;
  block-size: inherit;
  position: absolute;
  background: var(--primary20);
  clip-path: polygon(/**/
  0 0, 32% 0.4%, /**/
  34% 0.7%, 36% 1.5%, 37% 2.2%, 38% 3%, /**/
  51% 12.5%, 52% 12.8%, 53% 13%, 54% 13.2%, /**/
  100% 13.2%, /**/
  100% 96%, /**/
  97% 99%, /**/
  97% 14.2%, /**/
  52% 14.2%, 50% 13.5%, 49% 12.8%, 48% 12%, /**/
  35% 2.8%, 34% 2.5%, 33% 2.2%, 32% 2%, /**/
  0 1.5%);
}