.fontFace {
  inline-size: inherit;
  block-size: 28rem;
  background: rgb(76, 76, 139);
  position: absolute;
  inset-block-end: 0;
  transform-origin: right center;
  backface-visibility: hidden;
  transition: 1s transform;
}

.backFace {
  inline-size: inherit;
  block-size: 28rem;
  background: green;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 100%;
  transform-origin: left center;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transition: 1s transform;
}